*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.navbar-conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 37px 40px;
    justify-items: center;
}

.nav-right-side-items{
    display: flex;
    gap: 30px;
}
.nav-right-side-items img{
    width: 20%;
    height: 20%;
}

.nav-right-side-items h3{
    font-size: 30px;
}

.icon{
    width: 108px;
    margin-bottom: 20px;
}

.socials{
    display: flex;
    gap: 25px;
}

.socials a img{
    width: 30px;
    height: 30px;
}



/* ipad */

@media (max-width: 850px) and (min-width: 490px){
    
    .navbar-conatiner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 35px 40px;
        justify-items: center;
    }
    
    .nav-right-side-items{
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
        width: 80%;
    }
    .nav-right-side-items img{
        width: 100px;
        height: 25px;
    }
    
    .nav-right-side-items h3{
        font-size: 25px;
    }
    
    .icon{
        width: 105px;
    } 

    .socials{
        display: flex;
        gap: 15px;
    }
    
    .socials a img{
        width: 25px;
        height: 25px;
    }
}

@media (max-width:490px) {

    .navbar-conatiner{
        display: grid;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        padding: 10px 20px;
        width: 100%;
    }
    
    .nav-right-side-items{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
    .nav-right-side-items img{
        width: 25px;
        height: 12%;
    }
    
    .nav-right-side-items h3{
        font-size: 20px;
        height: 20px;
    }
    
    .icon{
        width: 85px;
    }
    
    .socials{
        position: absolute;
        top: 10px;
        right: 30px;
        display: flex;
        gap: 20px;
    }
    
    .socials a img{
        width: 15px;
        height: 15px;
    }
}
