*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Link{
    text-decoration: none;
}

a{
    text-decoration: none;
}

hr{
    margin: 20px 40px;
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width:2500px) and (min-width: 1000px) {
    
    .wallet-btn{
        background-color: #D4AF37;
        border-radius: 10px;
        padding: 15px;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        margin: 60px 50px;
        outline: none;
        border: none;
        right: 10px;
    }
}


.home-image{
    position: relative;
    width: 100%;
    height: 800px;
    padding: 20px;
}


/* Middle Container */

.middle-container {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 60px 20px;
    justify-items: center;
}

.left-container-text{
    display: flex;
    flex-direction: column;
}

.left-container-text h3{
    font-size: 55px;
    padding: 30px 20px;
    width: 80%;
    font-weight: 800;
    line-height: 65px;
}

.left-container-text p{
    font-size: 30px;
    padding: 20px;
    line-height: 40px;
    font-weight: 300;
}

/* JOIN SOCIETY CONTAINER */

.join-society-container {
    display: flex;
    background-color: #D4AF37;
    margin: 80px 40px;
    justify-content: space-evenly;
    padding: 50px 10px;
    align-items: center;
}

.txt1{
    background-color: #D4AF37;
    color: black;
    margin-right: 380px;
}

.txt1 h4{
    font-size: 35px;
}

.btn-mint{
    padding: 20px 120px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: bold;
}

.text-container{
    margin: 60px 20px;
}

.text-container h3{
    font-size: 55px;
    padding: 30px 20px;
    width: 80%;
    font-weight: 800;
    line-height: 65px;
}

.text-container p{
    font-size: 30px;
    padding: 20px;
    line-height: 40px;
    font-weight: 300;
}

/* Roadmap */

.list-container-text{
    margin: 20px;
}

.list-container-text h3{
    font-size: 55px;
    padding: 30px 0px;
    width: 80%;
    font-weight: 800;
    line-height: 65px;
}

.list-heading{
    color: #D4AF37;
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
}

.list{
    font-size: 30px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.right-container-image{
    position: relative;
}


.gif3{
    width: 740px;
}

@media (max-width: 2800px) and (min-width: 900px){
    .gif3{
        position: absolute;
        left: -410px;
        bottom: 100px;
    }
}


/* Team container */

.team-image{
    width: 450px;
}

.coming-soon-container{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0px;
}

.coming-soon-container span{
    color: #D4AF37;
}

.join-btn{
  margin-right: 100px;
  margin-top: 120px;
  padding: 20px 70px;  
  background-color: #D4AF37;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
}


/* iPhone max width- 490px */

@media (max-width: 490px) {
    hr{
        margin: 5px 20px;
    }

    .main-container{
        display: flex;
        position: relative;
    }

    .home-image{
        position: relative;
        width: 100%;
        height: 320px;
        padding: 20px;
    }

    .wallet-btn{
        background-color: #D4AF37;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        left: 150px;
        outline: none;
        border: none;
    }


    /* Middle Container */

.middle-container {
    width: 99%;
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 10px;
    justify-items: center;
    align-items: center;
}

.left-container-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left-container-text h3{
    font-size: 35px;
    padding: 10px 10px;
    width: 90%;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.left-container-text p{
    font-size: 20px;
    padding: 20px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}

.profile-image{
    width: 300px;
    margin-bottom: 30px;
}

.join-btn{
    display: none;
}

/* JOIN SOCIETY CONTAINER */

.join-society-container {
    display: flex;
    flex-direction: column;
    background-color: #D4AF37;
    justify-content: space-evenly;
    padding: 30px 10px;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

.txt1{
    background-color: #D4AF37;
    color: black;
    margin: 20px;
}

.txt1 h4{
    font-size: 25px;
}

.btn-mint{
    padding: 15px 60px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px;
}

.text-container{
    margin: 60px 20px;
}

.text-container h3{
    font-size: 25px;
    padding: 10px 20px;
    width: 80%;
    font-weight: 800;
    line-height: 65px;
}

.text-container p{
    font-size: 36px;
    padding: 20px;
    line-height: 40px;
}

.gif{
    width: 250px;
}

.text-container{
    margin: 30px 20px;
}

.text-container h3{
    font-size: 35px;
    padding: 10px 10px;
    width: 90%;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.text-container p{
    font-size: 18px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}


.gif3{
    display: block;
    position: relative;
}
.gif3{
    width: 300px;
}

.list-container-text{
    margin: 10px;
}

.list-container-text h3{
    font-size: 35px;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    font-weight: 800;
    line-height: 25px;
}

.list-heading{
    color: #D4AF37;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
}

.list{
    font-size: 18px;
    margin: 10px;
    padding-left: 15px;
}

.team-image{
    width: 250px;
}

.coming-soon-container{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0px;
}

}

/* iPhone max width- 490px */

@media (max-width: 850px) and (min-width: 450px){
    hr{
        margin: 5px 20px;
    }

    a {
        color: black;
    }

    .main-container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .home-image{
        position: relative;
        width: 100%;
        height: 480px;
        padding: 10px;
    }

    .wallet-btn{
        background-color: #D4AF37;
        border-radius: 10px;
        padding: 15px;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        bottom: -47px;
        left: 250px;
        margin: 30px;
        outline: none;
        border: none;
    }


    /* Middle Container */

.middle-container {
    width: 99%;
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 10px;
    justify-items: center;
    align-items: center;
}

.left-container-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    align-items: center;
}

.left-container-text h3{
    font-size: 50px;
    padding: 10px 10px;
    width: 80%;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.left-container-text p{
    font-size: 25px;
    padding: 20px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
}

.profile-image{
    width: 450px;
    margin-bottom: 30px;
}

.join-btn{
    display: none;
}

/* JOIN SOCIETY CONTAINER */

.join-society-container {
    display: flex;
    flex-direction: row;
    background-color: #D4AF37;
    justify-content: space-evenly;
    padding: 45px 10px;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

.txt1{
    background-color: #D4AF37;
    color: black;
    margin: 20px;
}

.txt1 h4{
    font-size: 35px;
}

.btn-mint{
    padding: 15px 80px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 5px;
}

.text-container{
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-container h3{
    font-size: 50px;
    padding: 10px 20px;
    width: 80%;
    font-weight: 700;
    line-height: 55px;
}

.text-container p{
    font-size: 25px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
}

.gif{
    width: 550px;
}


.gif3{
    width: 550px;

}


.list-container-text{
    margin: 10px;
}

.list-container-text h3{
    font-size: 35px;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    font-weight: 800;
    line-height: 25px;
}

.list-heading{
    color: #D4AF37;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
}

.list{
    font-size: 18px;
    margin: 10px;
    padding-left: 15px;
}

.team-image{
    width: 550px;
}

.coming-soon-container{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0px;
}

}